# When adding a new property, use the following priorities:
#   * Generic
#   * Language Specific
#   * Grouped Languages (resharper_, dotnet_, etc.)

root = true

[*]
# Spacing
indent_size = 4
indent_style = space

# Arguments
arguments_named = named
arguments_skip_single = true
wrap_after_invocation_lpar = true
wrap_arguments_style = chop_if_long
naming_

# Binary Expressions
align_multiline_binary_expressions_chain = false
wrap_chained_binary_expressions = chop_if_long
wrap_before_binary_opsign = true

# Misc.
instance_members_qualify_declared_in = base_class

[*.cs]
# Var Usage
csharp_style_var_for_built_in_types = false
csharp_style_var_elsewhere = false